{% extends "base.html" %}
{% load static %}

{% block title %}Login{% endblock title %}

{% block page_styles %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock page_styles %}

{% block content %}

<div align="center" class="welcome">
    <img class='home-logo' src="{% static 'img/logo.png' %}" alt="site logo">

    {% if form.errors %}
    <p class="login-text">Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        
        <div class="login-field">
            {{ form.username }}
        </div>
        <div class="login-field">
            {{ form.password }}
        </div>
        
        <input class="login-submit" type="submit" value="LOGIN">
        <input type="hidden" name="next" value="{{ next }}">
    </form>

    <div>
        <a href="{% url "social:begin" "spotify" %}">
            <button class='spotify-btn'>
                <img src="{% static 'img/spotify/icon-black.png' %}"> &nbsp;Sign in with Spotify
            </button>
        </a>
    </div>

</div>


{% endblock %}